<section class="alert" id="news">
    <div class="ad-nauseum" id="alert"></div>
    <div class="wrapper">
        <header>
            <h4>Posted October 4, 2019</h4>
            <h3><span class="spoop">Halloween Spooptacular!</span></h3>
        </header>
        <div style="border: 1px solid #fc7239;">
            <p>The three highest-scoring teams between <strong>now and October 31</strong> will win up to $250 CAD in Mountain Equipment Co-op gift cards! <a class="inline" href="/halloween">More Info + Rules</a></p>
        </div>
    </div>
</section>