<section id="faqs">
    <div class="wrap">
    <h2 id="questions">FAQS</h2>
    <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">How does it work?</a>
            <div class="accordion-content" data-tab-content>
                <p>Create or join a team of 2 to 5 people. Then choose from four different scenarios, each focusing on a separate aspect of doomsday preparedness. Take your phones and travel to the scenario's starting point. An AI named <code>BORIS</code> will send your first instructions straight to your phone’s web browser.</p><p>Work together to interpret <code>BORIS'</code> confounding statements, complete challenges, answer quesions, and survive the scenario. And do all of that accurately and promptly, as you’re being judged and timed.</p><p>As you complete the scenario, your team will be guided along a looped walking route. By the end you will be brought back to (roughly) where you started.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Where can I do it?</a>
            <div class="accordion-content" data-tab-content>
                <p>It's available in Kelowna in the locations marked on <a style="color: #f66f5c; text-decoration: underline;" href="#locations">the map</a> above me here. There are scenarios downtown, at Knox Mountain Park, Mission Creek Park, and UBC Okanagan.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">What are the scenarios like?</a>
            <div class="accordion-content" data-tab-content>
                <p>Apocalypse Made Easy! scenarios are like a mix between a scavenger hunt and an interactive walking tour. During the scenarios, your team is guided along a looped route outdoors. As you walk, each team member will be prompted with clues and information that will help you survive the scenario. More info on each scenario is below.</p>
                <p><em>Note: the time to complete each scenario will vary. Times listed below are average minimum and maximum times.</em></p>
                <p><strong>KELOWNA</strong></p>
                <ol>
                    <li><strong>Finding Water</strong>
                        <ul>
                            <li>Start &amp; End Point: Downtown Kelowna (at Water Street and Smith Avenue)</li>
                            <li>Length: 50-70 minutes, 2 km</li>
                            <li>Physical Difficulty: Easy (flat, paved paths)</li>
                            <li>About: In FINDING WATER, you must... find water. And learn how to filter it</li>
                        </ul>
                    </li>
                    <li><strong>Living Off the Land</strong>
                        <ul>
                            <li>Start &amp; End Point: Mission Creek Park (near the EECO Center)</li>
                            <li>Length: 45-65 minutes, 2 km</li>
                            <li>Physical Difficulty: Medium (some uphill segments, mostly dirt paths)</li>
                            <li>About: In LIVING OFF THE LAND, you are tasked with surveying three locations in order to find the best place to house, feed, and water your group of survivors.</li>
                        </ul>
                    </li>
                    <li><strong>Wildfires</strong>
                        <ul>
                            <li>Start &amp; End Point: Bottom of Knox Mountain Drive</li>
                            <li>Length: 40-60 minutes, 2 km</li>
                            <li>Physical Difficulty: Hard (steep up and downill segments, mostly dirt paths)</li>
                            <li>About: In WILDFIRES, you'll learn about wildfires: preparing, prevention, and responses.</li>
                        </ul>
                    </li>
                    <li><strong>Group Survival</strong>
                        <ul>
                            <li>Start Point: UBC Okanagan's ARTS building</li>
                            <li>End Point: UBC Okanagan's Old Pond Trail</li>
                            <li>Length: 35-45 minutes, 1 km</li>
                            <li>Physical Difficulty: Easy (flat, paved paths)</li>
                            <li>About: In GROUP SURVIVAL, you must train to overcome petty human squabblings and biases.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">What's it cost?</a>
            <div class="accordion-content" data-tab-content>
                <p>It's <span class="hooray">free!</span> But the true cost is if you <em>don’t</em> participate and are ill-prepared for the end. That cost is astronomical.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Do I need to download an app?</a>
            <div class="accordion-content" data-tab-content>
                <p>No app download is needed! It runs in your phone's internet browser. But it will use around 5 MB of mobile data, which is similar to streaming one song.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Who are the Citizens for a Friendlier Post-Apocalypse?</a>
            <div class="accordion-content" data-tab-content>
                <p>Following a confusing election cycle, we rose to power on our single-issue platform of optional (mandatory) apocalypse survival training for all citizens. We have it on good authority that the world will end soon. And thanks to us, everybody will be prepared.</p>
                <p>But it's not enough to prepare for the end of the world. Can we make the end of the world a better place than the non-end of the world? Can we make it a friendlier place? Our answer is yes.</p>
                <p>After much refinement and many, many deadly errors, we have created the most perfectly friendly apocalypse survival training course around. We've made it accessible. We've made Apocalypse Made Easy!</p>   
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">What are the many perils of trying to survive the apocalypse alone?</a>
            <div class="accordion-content" data-tab-content>
                <p><code>The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are&hellip;</code>
                </p>
            </div>
        </li>
    </ul>
    </div>
</section>