<div class="site-footer">
    <footer class="wrap">
        <div class="section-body">
            <div class="fifty">
                <h2>Sign up!</h2>
                <p>Receive a complimentary friendly email when we release new content. Or, contact us. Backfeed, Head of Citizen Feedback, is standing by at <a href="mailto:info@apocalypsemadeeasy.com">info@apocalypsemadeeasy.com</a>.</p>
                <div id="mc_embed_signup">
                    <form action="https://apocalypsemadeeasy.us16.list-manage.com/subscribe/post?u=176dbcf360f585cb5fa5e555d&amp;id=b49241b124" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="(Your email)" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45755e3563aeba28ccb6971b2_a999bffb68" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="fifty aligned">
                <img id="backfeed" src="assets/img/backfeed.png" alt="Backfeed, the Feedback Monster" />
            </div>
        </div>
    </footer>
    <div id="first" class="fourth-wall"></div>
    <div id="section-funding">
        <p>Apocalypse Made Easy! is a Social Innovators Challenge Project funded by the <a href="https://ca.movember.com" target="_blank" rel="noopener noreferrer">Movember Foundation</a>. It is being developed at the University of British Columbia with support from the Global Reporting Centre.</p>
        <div id="logos">
            <img height="70" width="70" class="mov" src="assets/img/movember-white.png" alt="Funded by the Movember Foundation" />
            <img height="70" width="70" class="ubc" src="assets/img/ubc.png" alt="Supported by the University of British Columbia" />
        </div>
    </div>
    <div id="second" class="fourth-wall"></div>
</div>
<div id="east-agony-lake">
    <img src="/assets/img/scenes/east-agony-lake.jpg" alt="Crossing East Agony Lake | Apocalypse Made Easy! | Art by Rita Fei" />
</div>