{% if page.url == '/' or page.url == '/vancouver' or page.url == '/kelowna' or page.url == '/vancouver-families' or page.url == '/kelowna-families' %}
<header class="site-header landing" role="banner">
    <a onclick="ga('send', 'event', 'Click', 'Header-{{ page.url | slugify }}', 'How to Play');" class="button"
        href="#getting-started" title="How to Play">How to Play</a>
    <a onclick="ga('send', 'event', 'Click', 'Header-{{ page.url | slugify }}', 'FAQs');" class="button hide"
        href="#questions" title="Frequently Asked Questions">FAQs</a>
    <a onclick="ga('send', 'event', 'Click', 'Header-{{ page.url | slugify }}', 'Press Kit');" class="button"
        rel="noopener noreferrer" href="/press" title="Press Kit">Press<span class="hide"> Kit</span></a>
    <a onclick="ga('send', 'event', 'Click', 'Header-{{ page.url | slugify }}', 'Start Playing');" id="startPlaying" class="button start-playing"
        rel="noopener noreferrer" target="_blank" href="https://play.apocalypsemadeeasy.com" title="Start Playing">Start
        Playing</a>
</header>

{% elsif page.url == '/win-survival-prize-packs' %}

<header class="site-header landing" role="banner">
    <a onclick="ga('send', 'event', 'Click', 'Header', 'How to Play');" class="button"
        href="https://apocalypsemadeeasy.com#getting-started" title="How to Play">How to Play</a>
    <a onclick="ga('send', 'event', 'Click', 'Header', 'FAQs');" class="button hide"
        href="https://apocalypsemadeeasy.com#questions" title="Frequently Asked Questions">FAQs</a>
    <a onclick="ga('send', 'event', 'Click', 'Header', 'Press Kit');" class="button" rel="noopener noreferrer" href="/press"
        title="Press Kit">Press<span class="hide"> Kit</span></a>
    <a onclick="ga('send', 'event', 'Click', 'Header', 'Start Playing');" id="startPlaying" class="button start-playing"
        rel="noopener noreferrer" target="_blank" href="https://play.apocalypsemadeeasy.com" title="Start Playing">Start
        Playing</a>
</header>

{% elsif page.url == '/get-involved-in-vancouver' or page.url == '/get-involved-in-kelowna' %}
<header class="site-header" role="banner">
  <a onclick="ga('send', 'event', 'Click', 'Header', 'Home');" class="button" href="https://apocalypsemadeeasy.com" title="Apocalypse Made Easy!"><span class="full">Apocalypse Made Easy!</span><span class="short">AME!</span></a>
  <a onclick="ga('send', 'event', 'Click', 'Header', 'Start Playing');" id="startPlaying" class="button start-playing" rel="noopener noreferrer" target="_blank" href="https://play.apocalypsemadeeasy.com" title="Start Playing">Start Playing</a>
</header>

{% endif %}