<div id="phone">
    <img id="phone-skin" alt="Phone Background" src="assets/img/oneplus.png" />
        <div class="screen-background">
        <div><img src="assets/img/screens/no.png" alt="Apocalypse Made Easy! The Nameless Organization" /></div>
        <div><img src="assets/img/screens/boris.png" alt="Apocalypse Made Easy! Initialize BORIS" /></div>
        <div><img src="assets/img/screens/choose-scenario.png" alt="Apocalypse Made Easy! Scenario Selection" /></div>
        <div><img src="assets/img/screens/interface.jpg" alt="Apocalypse Made Easy! Interface" /></div>
        <div><img src="assets/img/screens/teams.png" alt="Apocalypse Made Easy! Team Creation" /></div>
        <div><img src="assets/img/screens/market.jpg" alt="Apocalypse Made Easy! Marketplace" /></div>
    </div>
</div>