<div id="phone">
    <img id="phone-skin" alt="Phone Background" src="assets/img/oneplus.png" />
        <div class="screen-background">
        <div><img src="assets/img/screens/teams.jpg" alt="Apocalypse Made Easy! Teams" /></div>
        <div><img src="assets/img/screens/boris.jpg" alt="Apocalypse Made Easy! Initialize BORIS" /></div>
        <div><img src="assets/img/screens/leaders.jpg" alt="Apocalypse Made Easy! Leaderboards" /></div>
        <div><img src="assets/img/screens/market.jpg" alt="Apocalypse Made Easy! Marketplace" /></div>
        <div><img src="assets/img/screens/interface.jpg" alt="Apocalypse Made Easy! Interface" /></div>
    </div>
</div>