@charset "utf-8";

// Define defaults for each variable.

$body-font: "Noto Sans", sans-serif;
$header-font: "Creepster", cursive;

$white: #ffffff;
$black: #232323;
$jet: #000000;
$red: #fc7239;;
$blue: #a5ac4c;
$orange: #ff8a65;
$green: #192916;
$lightgreen: #ffac74;
$purple: #7c5735;

// Default width of the content area
$width: 70em;

@mixin media-query {
  @media screen and (min-width: 40em) {
    @content;
  }
}

@mixin variable-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Import partials.
@import
  "normalize",
  "apocalypse/form",
  "apocalypse/base",
  "apocalypse/elements",
  "apocalypse/navigation",
  "apocalypse/accordion",
  "apocalypse/type",
  "apocalypse/animation",
  "apocalypse/press-prizes"
;
