@-webkit-keyframes color-explosion {
	0%, 100% { background-color: $red; }
	20% { background-color: $blue; } 
	40% { background-color: $orange; } 
	60% { background-color: $green; }
	80% { background-color: $purple; }
}

@keyframes color-explosion {
	0%, 100% { background-color: $red; }
	20% { background-color: $blue; } 
	40% { background-color: $orange; } 
	60% { background-color: $green; }
	80% { background-color: $purple; }
}

@-webkit-keyframes letter-color-explosion {
	0%, 100% { color: $red; }
	20% { color: $blue; } 
	40% { color: $orange; } 
	60% { color: $green; }
	80% { color: $purple; }
}

@keyframes letter-color-explosion {
	0%, 100% { color: $red; }
	20% { color: $blue; } 
	40% { color: $orange; } 
	60% { color: $green; }
	80% { color: $purple; }
}