html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $white;
    padding-top: 56px;
        &#four-oh-six-minus-two {
            background: $jet;
            padding-top: 0;
        }
        &.press, &.landing {
            padding-top: 0;
        }
        @include media-query {
            padding-top: 70px;
        }
}

.section-body {
    max-width: 36em;
    margin: 0 auto;
    padding: 1rem;
    @include variable-query(700px) {
        display: flex;
        align-items: center;
        max-width: $width;
    }
    &.four-oh-four {
        justify-content: center;
            .fifty {
                flex: 0 1 70%;
            }
    }
    .fifty {
        flex: 0 1 50%;
        padding: 0 0.5rem;
            &.aligned {
                text-align: center;
            }
            @include variable-query(700px) {
                padding: 0 1rem;
            }
    }
    .sixty {
        padding: 0.5rem;
        @include variable-query(700px) {
            padding: 1rem;
            width: 60%;
            transform: rotate(-7deg);
        }
    }
    .center {
        margin: 0 -0.5em;
        padding: 0 0 1rem;
            @include variable-query(700px) {
                padding: 1rem;
                margin: 0;
            }
    }
}

.wrap {
    margin: 0 auto;
    max-width: 36em;
    padding: 1.5rem;
    @include media-query {
        padding: 2rem;
        max-width: $width;
    }
}

.title {
    display: flex;
}

section#welcome {
    position: relative;
    overflow: hidden;
    padding: 0;
    background: $black;
    color: $white;
    background-image: url('img/webs.png');
    background-size: cover;
    background-repeat: no-repeat;
        header {
            margin: 0 auto 1rem;
                @include media-query {
                    margin: 0;
                }
        }
        .center {
            @include variable-query(700px) {
                padding: 1.5rem 1.5rem 1.5rem 4rem;
            }
        }
        @include media-query {
            padding: 1rem 0;
        }
}

section.alert {
    background: lighten($black, 5%);
    color: $white;
    padding: 4em 1rem;
    position: relative;
    overflow: hidden;
    div.wrapper {
        max-width: 70em;
        margin: 0 auto;
        position: relative;
        @include variable-query(700px) {
            display: flex;
            align-items: center;
                header {
                    min-width: 300px;;
                }
                div {
                    padding-left: 2rem;
                }
        }
        h3, p {
            margin: 0;
        }
        header {
            @include variable-query(540px) {
                padding: 1rem 2rem;
            }
        }
        div {
            background: $black;
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;
                @include variable-query(540px) {
                    padding: 1rem 2rem;
                    margin-top: 0;
                }
        }
    }
    &#reminders {
        .wrapper {
            header, div {
                flex: 1;
            }
            div {
                background: none;
                text-align: center;
                    a {
                        font-family: "Kanit", sans-serif;
                        text-decoration: none;
                        display: inline-block;
                        background: $black;
                        border: 3px solid $lightgreen;
                        border-radius: 3px;
                        padding: 0.5rem 1rem;
                        width: 100%;
                            &:hover {
                                -webkit-animation: 2.2s 10 color-explosion;
                                animation: 2.2s 10 color-explosion;
                                border-color: $white;
                            }
                            @include variable-query(540px) {
                                width: auto;
                            }
                    }
            }
        }
    }
}

section#getting-started {
    background: $black;
    color: $white;
    .step {
        position: relative;
        padding: 1.25rem 0 0;
            @include variable-query(880px) {
                padding: 0;
                display: flex;
                align-items: center;
            }
            .step-body, .step-image {
                @include variable-query(880px) {
                    flex-basis: 50%;
                }
            }
            .step-body {
                z-index: 2;
                position: relative;
                padding: 1rem 0 0;
                div {
                    margin: 0 auto;
                    padding: 0 1rem 0;
                    @include variable-query(540px) {
                        padding: 0 2.5rem 1rem;
                    }
                    @include variable-query(880px) {
                        max-width: 600px;
                        padding: 0 2.5rem;
                    }
                        h3 {
                            font-size: 2.4em;
                            margin-top: 0.5rem;
                        }
                        @include variable-query(880px) {
                            h3 {
                                font-size: 1.3em;
                            }
                        }
                        @include variable-query(1080px) {
                            h3 {
                                font-size: 2.4em;
                            }
                        }
                }
            }
            .step-image {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 240px;
                    @include variable-query(400px) {
                        height: 320px;
                    }
                    @include variable-query(540px) {
                        height: 440px;
                    }
                    @include variable-query(680px) {
                        height: 560px;
                    }
                    @include variable-query(880px) {
                        height: 350px;
                    }
                    @include variable-query(940px) {
                        height: 400px;
                    }
                    @include variable-query(1300px) {
                        height: 500px;
                    }
                    @include variable-query(1500px) {
                        height: 600px;
                    }
                    @include variable-query(1800px) {
                        height: 700px;
                    }
                    @include variable-query(2000px) {
                        height: 800px;
                    }
            }
            &#first {
                background: lighten($black, 10%);
                .step-image {
                    background-image: url('img/scenes/garbage-fire-h.jpg');
                }
            }
            &#third {
                background: lighten($black, 5%);
                .step-image {
                    background-image: url('img/scenes/trust-fall.jpg');
                }
            }
            &#fourth {
                background: $jet;
                .step-image {
                    background-image: url('img/scenes/garbage-fire.jpg');
                }
            }
    }
}

section#faqs {
    position: relative;
    overflow: hidden;
}

h2#questions {
    padding-top: 80px;
    margin-top: -80px;
}

.ad-nauseum {
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150%;
    height: 200%;
    z-index: 0;
    transform: rotate(-7deg);
    -webkit-backface-visibility: hidden;    
    backface-visibility: hidden;
    opacity: 0.07;
        &#alert {
            background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='170px'><text x='0' y='15' fill='white' font-family='monospace' font-weight='regular' font-size='15'>BORIS ALERT SYSTEM</text></svg>");
        }
        &#remembers {
            background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='200px'><text x='0' y='15' fill='white' font-family='monospace' font-weight='regular' font-size='15'>BORIS REMINDER SYSTEM</text></svg>");
        }
}

section#involved {
  padding-bottom: 2rem;
}

.site-footer {
    overflow: hidden;
    padding: 0;
    color: $white;
    background: $jet;
    padding: 1rem 0 0;
        footer {
            padding: 0;
        }
        @include media-query {
            padding: 3rem 0 0;
        }
        #section-funding {
            padding: 2rem;
            margin: 0 auto;
            max-width: 70em;
            color: darken($white, 30%);
            #logos {
                text-align: center;
                margin-top: 1rem;
                    img {
                        margin: 1rem 1rem 0;
                    }
            }
            @include media-query {
                padding: 4.5rem 1rem 2rem;
            }
            @include variable-query(1160px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                    p {
                        margin-right: 2rem;
                        max-width: 720px;
                    }
                    #logos {
                        margin-top: 0;
                             img {
                                 margin-top: 0;
                             }
                    }
            }
        }
}