a {
    color: $white;
    transition: color 0.2s;
        &.inline-button {
            background: $black;
            display: inline-block;
            margin: 1rem 0;
            font-family: $header-font;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem;
            border-radius: 2px;
        }
}

.step-body a:hover, .section-body a:hover, #section-funding a:hover {
    color: $red;
}

img {
    max-width: 100%;
        &#backfeed {
            width: 320px;
        }
        &.mov {
            /* IE 11 Hack */
            flex-shrink: 0;
        }
        &.mov.dt {
            display: none;
        }
        &.mov.mb {
            margin-left: 1.5rem;
            height: 60px;
            width: 60px;
        }
        @include variable-query(470px) {
            &.mov.mb {
                height: 80px;
                width: 80px;
            }
        }
        @include variable-query(700px) {
            &.mov.dt {
                display: block;
            }
            &.mov.mb {
                display: none;
            }
        }
}

#phone {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: 360px;
        @include variable-query(700px) {
            max-width: 280px;
        }
    .screen-background {
        position: absolute;
        top: 9.5%;
        left: 8%;
        width: 83.5%;
        height: 77.5%;
        &.slick-loading {
            background: #ffffff;
        }
    }
    #phone-skin {
        position: relative;
        width: 100%;
    }
}

#map-container {
    position: relative;
    border-top: 1px dashed lighten($black, 10%);
    height: 400px;
        @include media-query {
            border-top: 0;
        }
    #map {
        width: 100%;
        height: 400px;
        color: $black;
        position: relative;
        z-index: 1;
            h3 {
                text-transform: uppercase;
                font-family: $header-font;
                margin-bottom: 0;
            }
            p {
                margin-top: 0.25rem;
            }
    }
    #cities {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 2;
        border-radius: 3px;
        text-align: center;
        color: $white;
            @include media-query {
                top: 2rem;
                left: 2rem;
                right: auto;
                padding: 0 0.5rem 0.5rem;
                background: lighten($black, 10%);
            }
            span {
                display: none;
                font-size: 0.8em;
                padding: 0.5rem;
                    @include media-query {
                        display: inline-block;
                    }
                    &#locations {
                        // Offset scrollto
                        padding-top: 80px;
                        margin-top: -80px;
                    }
            }
            .city {
                font-size: 1.3em;
                margin: 0 auto;
                position: relative;
                width: 155px;
                height: 40px;
                text-align: center;
                background: $white;
                border-radius: 2px;
                    label, input {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    input {
                        opacity: 0;
                        z-index: 2;
                            &:checked + label {
                                background: $red;
                                color: $white;
                            }
                    }
                    label {
                        z-index: 1;
                        cursor: pointer;
                        line-height: 40px;
                        color: $black;
                        border-radius: 2px;
                    }
                    &:first-of-type, &:first-of-type label {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    &:last-of-type, &:last-of-type label {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
            }
    }
}

#east-agony-lake {
    img {
        display: block;
        width: 100%;
        max-width: none;
    }
}

#boris-alert-system {
    position: absolute;
    bottom: 6rem;
    right: 0;
    height: 80px;
    width: 80px;
    background-image: url('img/boris-alert-system.png');
    background-repeat: no-repeat;
    -webkit-animation: 0.6s 1s forwards slide, 0.6s 1s steps(9) 4 spinning, 0.7s 3.4s steps(8) forwards initialized;
    animation: 0.6s 1s forwards slide, 0.6s 1s steps(9) 4 spinning, 0.7s 3.4s steps(8) forwards initialized;
    transform: rotate(-90deg) translateY(140px);
    z-index: 2;
        a {
            position: absolute;
            color: $black;
            font-weight: bold;
            bottom: 100%;
            left: 70%;
            background: $lightgreen;
            width: 170px;
            text-transform: uppercase;
            font-family: monospace;
            text-align: center;
            border-radius: 1px;
            padding: 0.5rem 0;
            opacity: 0;
            visibility: hidden;
            -webkit-animation: 0.3s 4.1s forwards pop;
            animation: 0.3s 4.1s forwards pop;
            border: 1px solid $white;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 20%;
                    width: 0;
                    height: 0;
                    border: 16px solid transparent;
                    border-top-color: $lightgreen;
                    border-bottom: 0;
                    border-left: 0;
                    margin-left: -8px;
                    margin-bottom: -16px;
                }
                &:hover {
                    background: darken($lightgreen, 10%);
                        &:after {
                            border-top-color: darken($lightgreen, 10%);
                        }
                }
        }
}