.landing {
    article {
        min-height: 100vh;
        background: $black;
        display: flex;
        flex-flow: column;
        section {
            width: 100%;
            &#selections {
                flex: 1;
                background-image: linear-gradient(to right, lighten($black, 3%), lighten($black, 3%) 50%, lighten($black, 5%) 50%); 
                    .section-body {
                        height: 100%;
                        flex-flow: wrap;
                        justify-content: center;
                        img {
                            max-width: 700px;
                            width: 100%;
                                @include media-query {
                                    max-width: 500px;
                                }
                        }
                        .buttons {
                            justify-content: space-around;
                            display: flex;
                            width: 100%;
                            padding: 2rem 0;
                                div {
                                    a {
                                        display: inline-block;
                                        background: $white;
                                        font-family: $header-font;
                                        color: $black;
                                        text-decoration: none;
                                        padding: 1rem 1.25rem;
                                        font-size: 28px;
                                        text-transform: uppercase;
                                        min-width: 220px;
                                        text-align: center;
                                    }
                                }
                        }
                    }   
            }
            &#description {
                color: darken($white, 20%);
                background: $black;
                align-self: flex-end;
                    header {
                        max-width: $width;
                        margin: 0 auto;
                        padding: 3rem 1rem;
                            h1 {
                                display: inline;
                                margin-right: 0.5rem;
                                font-size: 1em;
                            }
                            p {
                                display: inline;
                            }
                    }
            }
        }
    }
}