.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 0.25rem;
    z-index: 5;
    background: $black;
    border-bottom: 2px solid lighten($black, 25%);
        .hide {
            display: none;
        }
        @include media-query {
            padding: 0 3rem;
        }
        @include variable-query(740px) {
            .hide {
                display: inline;
            }
        }
}

a.button {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.25rem 0.5rem;
    margin: 0.75rem 0.25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    float: left;
        &#startPlaying {
            background: $lightgreen;
            float: right;
            transition: color 0s;
            &:hover {
                -webkit-animation: 2.2s 10 color-explosion;
                animation: 2.2s 10 color-explosion;
            }
        }
        &#where-to-play {
            display: none;
            @include variable-query(470px) {
                display: inline;
            }
        }
        &#call-to-action {
            margin: 1.25rem 0 0.5rem;
            float: none;
            display: inline-block;
            color: $black;
            border: 1px solid $white;
            background: $black;
            color: $white;
                &:hover {
                    -webkit-animation: 2.2s 10 color-explosion;
                    animation: 2.2s 10 color-explosion;
                }
        }
        @include media-query {
            font-size: 1.25em;
            margin: 0.75rem 0.5rem;
            padding: 0.5rem 1rem;
        }
}

a.inline {
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
        &:hover {
            color: $lightgreen;
        }
}

span.full {
  display: none;
}

@include variable-query(440px) {
  span.short {
    display: none;
  }
  span.full {
    display: block;
  }
}