.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    text-align: right;
        a.button {
            display: block;
            background: $black;
            font-family: $header-font;
            text-transform: uppercase;
            font-size: 1.3em;
            padding: 0.5rem;
            text-align: center;
            text-decoration: none;
                &:hover {
                    -webkit-animation: 2.2s infinite color-explosion;
                    animation: 2.2s infinite color-explosion;
                }        
        }
}