body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 1.6;
    color: $black
}

h1, h2, h3, .city, .number, #mc_embed_signup .button {
    font-family: $header-font;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    line-height: 1;
    font-size: 1.9em;
    @include variable-query(470px) {
        font-size: 2.8em;
    }
    @include variable-query(700px) {
        font-size: 3.4em;
    }
    @include variable-query(1080px) {
        font-size: 5em;
    }
}

.about {
    display: flex;
    align-items: center;
    @include media-query {
        max-width: 530px;
    }
    h2 {
    font-size: 1em;
    font-family: $body-font;
    text-transform: none;
    font-weight: normal;
    line-height: 1.8;
    margin: 0.5rem 1rem 0 0;
    max-width: 100%;
        @include variable-query(1080px){
            line-height: 1.9;
            font-size: 1.2em;
            margin: 0.5rem 1.5rem 0 0;
        }
    }
}

h2, h3 {
    font-size: 2.4em;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

h2#signup {
    padding-top: 92px;
    margin-top: -92px;
}

h3 span {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1rem;
    border-bottom: 5px solid;
    @include variable-query(540px) {
        font-size: 2.2em;
    }
    @include variable-query(880px) {
        display: none;
    }
}

.step-body h3 {
    line-height: 1.1;
}

.info-content {
    h3 {
        font-size: 1.7em;
        margin-top: 0.25em;
    }
    p {
        margin-bottom: 0.25em;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.8;
}

#fourth-wall {
    background: $red;
    overflow: hidden;
    transform: rotate(-2deg);
    margin-top: 4rem;
    box-shadow: 0 0 1px $red;
        &:after {
            content: '4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach';
            display: block;
            height: 100%;
            width: 100%;
            color: $white;
            text-transform: uppercase;
            font-family: $header-font;
            font-size: 0.85em;
            white-space: nowrap;
            margin: 0.5rem 0.5rem 0.5rem -1rem;
            -webkit-animation: fade 0.9s infinite alternate;
            animation: fade 0.9s infinite alternate;
        }
}

#section-funding > p {
    font-size: 0.9em;
}

.number {
    position: absolute;
    top: 0;
    font-size: 9em;
    display: none;
    z-index: 1;
    text-align: center;
    width: 100%;
        span {
            width: 100%;
        }
        @include variable-query(880px) {
            display: flex;
            height: 100%;
            align-items: center;
        }
        @include variable-query(1080px) {
            font-size: 16em;
        }
}

/* IE 10 and 11 hacks */
@media all and (-ms-high-contrast:none) {
    .number { display: none; }
    *::-ms-backdrop, .number { display: none; }
}

span.hooray {
    background: $black;
    padding: 0 0.25rem;
    border-radius: 2px;
    -webkit-animation: 2.2s infinite letter-color-explosion;
    animation: 2.2s infinite letter-color-explosion;
}

code {
    text-transform: uppercase;
}