body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 1.6;
    color: $black
}

h1, h2, h3, .number {
    font-family: $header-font;
    text-transform: uppercase;
}

.city, #mc_embed_signup .button {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    line-height: 0.8;
    font-size: 2.5em;
    font-family: 'Kanit', sans-serif;
    @include variable-query(470px) {
        font-size: 2.8em;
    }
    @include variable-query(700px) {
        font-size: 60px;
        #spoopy {
            font-size: 0.45em;
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            top: -4px;
        }
        #easy {
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 11px;
                width: 104%;
                top: 47%;
                left: -2%;
                background: $white;
            }
        }
    }
    @include variable-query(1080px) {
        font-size: 90px;
    }
    #me {
        font-size: 0.6em;
        position: relative;
            #easy {
                position: relative;
                    #easy-easy {
                        display: none;
                        @include variable-query (700px) {
                            display: inline;
                        }
                    }
            }
            #spoopy {
                font-family: "Creepster", cursive;
            }
    }
}

.spoop {
    font-family: "Creepster", cursive;
}

.about {
    display: flex;
    align-items: center;
    @include media-query {
        max-width: 570px;
    }
    h2 {
    font-size: 1em;
    font-family: $body-font;
    text-transform: none;
    font-weight: normal;
    line-height: 1.8;
    margin: 0.5rem 1rem 0 0;
    max-width: 100%;
        @include variable-query(1080px){
            line-height: 1.9;
            font-size: 1.1em;
            margin: 0.5rem 1.5rem 0 0;
        }
    }
}

h2, h3 {
    font-size: 2.2em;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

h2#signup {
    padding-top: 140px;
    margin-top: -140px;
}

@include media-query {
  #involved h2 {
    margin-top: 5rem;
  }
}

h4 {
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    font-size: 1.1em;
    margin: 0;
}

.step-body h3 {
    line-height: 1.1;
}

.info-content {
    position: relative;
    h3 {
        font-size: 1.7em;
        margin-top: 0.25em;
    }
    p {
        margin-bottom: 0.25em;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.7;
}

.step-body p {
    margin-top: 0;
}

.fourth-wall {
    overflow: hidden;
    background: darken($black, 5%);
    box-shadow: 0 0 1px $black;
        &:after {
            content: '4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach 4th Wall Breach';
            display: block;
            height: 100%;
            width: 100%;
            color: lighten($black, 5%);
            text-transform: uppercase;
            font-family: $header-font;
            font-size: 0.85em;
            white-space: nowrap;
            margin: 0.5rem 0.5rem 0.5rem -1rem;
        }
        &#first {
            margin-top: 2rem;
            transform: rotate(-3deg);
                @include media-query {
                    margin-top: 4rem;
                }
        }
        &#second {
            margin-top: 1rem;
        }
}

#section-funding > p {
    font-size: 0.9em;
}


span.hooray {
    background: $black;
    color: $green;
    padding: 0 0.25rem;
    border-radius: 2px;
    -webkit-animation: 2.2s 14 letter-color-explosion;
    animation: 2.2s 14 letter-color-explosion;
}

span.date {
    font-family: monospace;
    text-transform: uppercase;
    padding: 0 0.3rem;
    display: inline-block;
        &.landing {
            font-family: $body-font;
            padding: 0;
            text-transform: none;
            background: none;
            color: darken($white, 20%);
        }
}

code {
    text-transform: uppercase;
}