<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if page.url == '/press' %} class="press"{% endif %}{% if page.url == '/win-things' %} class="win-things"{% endif %}>
    {% include google-tag-manager-iframe.html %}

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {% if page.url == '/' %}

    {% include footer.html %}

    {% endif %}

  </body>

</html>
