<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if page.url == '/press' %} class="press"{% endif %}{% if page.url == '/win-survival-prize-packs' %} class="win-things"{% endif %}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW3FPFT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html %}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {% if page.url == '/' or page.url == '/get-involved-in-vancouver' or page.url == '/get-involved-in-kelowna' %}

    {% include footer.html %}

    {% endif %}

  </body>

</html>
