---
layout: default
---

<article>
  <section id="welcome">
  <div class="ad-nauseum"></div>
    <div class="section-body">
      <div class="sixty">
          <header>
            <div class="title">
                <h1>Apocalypse<br>Made Easy!</h1>
                <img height="80" width="80" class="mov mb" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div class="about">
                <h2>is an outdoor, team-based apocalypse survival training game that runs in your phone's browser. The beta's now open in  Vancouver.</h2>
                <img height="80" width="80" class="mov dt" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div><a onclick="ga('send', 'event', 'Click', 'Call to Action', 'Start Playing');" id="call-to-action" class="button start-playing" rel="noopener noreferrer" target="_blank" href="https://play.apocalypsemadeeasy.com" title="Start Playing">Start Playing</a></div>
          </header>
      </div>
      <div class="center">
          {% include slider.html %}
      </div>
    </div>
  </section>
  <section id="getting-started">
    <div class="step">
      <div class="step-body">
          <div>
            <h3><span>1</span>Gather your friends!</h3>
            <p>The number one most rhyming rule for apocalypse survival is <em>don't go solo</em>. Don't have any friends? How about tolerable coworkers? Or random people from the internet? They’ll do.</p>
          </div>
      </div>
      <div class="step-image"></div>
      <div class="number"><span>1</span></div>
    </div>
    <div class="step">
        <div class="step-body">
            <div>
                <h3><span>2</span>Choose a scenario!</h3>
                <p>Create a team and pick from four different apocalyptian scenarios <a href="#locations" title="Apocalypse Made Easy! scenario locations">running in Vancouver and Kelowna</a>. Each one focuses on a separate skill. Then head to the scenario start point to get... started. How you get there is up to you.</p>
            </div>
        </div>
        <div class="step-image"></div>
        <div class="number"><span>2</span></div>
    </div>
    <div class="step">
        <div class="step-body">
            <div>
                <h3><span>3</span>Start surviving!</h3>
                <p>Work with your team to progress through the challenges and survive the scenario. The swiftest, most survivingest, and highest-scoring teams will win useful survival kits filled with stuff we didn't have room for in the garage.</p>
            </div>
        </div>
        <div class="step-image"></div>
        <div class="number"><span>3</span></div>
    </div>
  </section>
  <section id="map-container">
    <div id="map"></div>
    <div id="cities">
        <span id="locations">Scenario locations</span>
        <div class="city">
            <input type="radio" value="vancouver" id="vancouver" name="city" checked />
            <label for="vancouver">Vancouver</label>
        </div>
        <div class="city">
            <input type="radio" value="kelowna" id="kelowna" name="city" />
            <label for="kelowna">Kelowna</label>
        </div>
    </div>
  </section>
  <section id="faqs">
      <div class="ad-nauseum"></div>
        <div class="wrap">
        <h2 id="questions">FAQS</h2>
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How does it work?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Create or join a team of 2 to 5 people. Then choose from four different scenarios, each focusing on a separate aspect of doomsday preparedness. Take your phones and travel to the scenario's starting point. An AI named <code>BORIS</code> will send your first instructions straight to your phone’s web browser.</p><p>Work together to interpret <code>BORIS'</code> confounding statements, complete challenges, and survive the scenario. And do all of that accurately and promptly, as you’re being judged and timed.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Where can I do it? And what's it cost?</a>
                <div class="accordion-content" data-tab-content>
                    <p>It's available in Vancouver and Kelowna in the locations marked on <a style="color: #f66f5c; text-decoration: underline;" href="#locations">the map</a> above me here. The Vancouver beta is <a style="color: #f66f5c; text-decoration: underline;" rel="noopener noreferrer" class="start-playing" target="_blank" href="https://play.apocalypsemadeeasy.com">open now</a>. The Kelowna beta will open in March 2019.</p><p>If you live anywhere other than those two places, you will sadly perish during the coming apocalypse due to your lack of preparedness.</p>
                    <p>And the price is <span class="hooray">free!</span> But the true cost is if you <em>don’t</em> participate and are ill-prepared for the end. That cost is astronomical.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Who are the Citizens for a Friendlier Post-Apocalypse?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Following a confusing election cycle, we rose to power on our single-issue platform of optional (mandatory) apocalypse survival training for all citizens. We have it on good authority that the world will end soon. And thanks to us, everybody will be prepared.</p>
                    <p>But it's not enough to prepare for the end of the world. Can we make the end of the world a better place than the non-end of the world? Can we make it a friendlier place? Our answer is yes.</p>
                    <p>After much refinement and many, many deadly errors, we have created the most perfectly friendly apocalypse survival training course around. We've made it accessible. We've made Apocalypse Made Easy!</p>   
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What are some of the many perils of trying to survive the apocalypse alone?</a>
                <div class="accordion-content" data-tab-content>
                     <p><code>The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are&hellip;</code></p>
                </div>
            </li>
        </ul>
        </div>
  </section>
</article>