---
layout: default
---

<article>
  <section id="welcome">
    <div class="section-body">
      <div class="sixty">
          <header>
            <div class="title">
                <h1>Apocalypse<br><span id="me">Made Easy!</span></h1>
                <img height="80" width="80" class="mov mb" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div class="about">
                <h2>A free, outdoor, team survival training game that runs in your phone's web browser. Play now in Vancouver and Kelowna.</h2>
                <img height="80" width="80" class="mov dt" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div><a onclick="ga('send', 'event', 'Click', 'Call to Action', 'How to Play');" id="call-to-action" class="button start-playing" href="#getting-started" title="How to Play">How to Play</a></div>
          </header>
      </div>
      <div class="center">
        <img id="phone" alt="Apocalypse Made Easy! Screenshot" src="assets/img/presskit/choose-your-scenario.png" />
      </div>
    </div>
  </section>
  <section id="getting-started">
    <div class="step" id="first">
      <div class="step-body">
          <div>
              <h4>How to Play</h4>
            <h3><span>#1</span> Gather friends!</h3>
            <p>You'll need a team of 2 to 5. Once you create a team, you'll get a unique code your teammates can use to join you.</p>
            <h3><span>#2</span> Choose scenario!</h3>
            <p>Pick from four different scenarios. Then bring yourselves and your phones to its starting point.</p>
            <h3><span>#3</span> Start surviving!</h3>
            <p>Once you start, an AI named BORIS will send clues and instructions to your phones.</p>
          </div>
      </div>
      <div class="step-image"></div>
    </div>
    <div class="step" id="second">
        <div class="step-body">
            <div>
                <h3>Scenario Map!</h3>
                <p>Choose from these four apocalyptic scenarios in Vancouver or Kelowna. For an overview of the scenarios, visit our handy <a href="#questions">FAQ section</a>.</p>
            </div>
        </div>
        <div class="step-image">
            <section id="map-container">
                <div id="map"></div>
                <div id="cities">
                    <span id="locations">Scenario locations</span>
                    <div class="city">
                        <input type="radio" value="vancouver" id="vancouver" name="city" checked />
                        <label for="vancouver">Vancouver</label>
                    </div>
                    <div class="city">
                        <input type="radio" value="kelowna" id="kelowna" name="city" />
                        <label for="kelowna">Kelowna</label>
                    </div>
                </div>
            </section>
        </div>
    </div>
  </section>
  <section class="alert" id="reminders">
        <div class="ad-nauseum" id="remembers"></div>
        <div class="wrapper">
            <header>
                <h3>Remember!</h3>
                <p>- Each team member needs a smartphone.</p>
                <p>- Make sure your phone batteries are charged.</p>
                <p>- The game will use around 5 MB of mobile data.</p>
            </header>
            <div>
                <h3><a href="https://play.apocalypsemadeeasy.com" title="Sign up and Start Playing">Sign Up &amp;<br>Start Playing</a></h3>
            </div>
        </div>
  </section>
  {% include faqs.html %}
</article>