---
layout: default
---

<article>
  <section id="welcome">
    <div class="section-body">
      <div class="sixty">
          <header>
            <div class="title">
                <h1>Apocalypse<br>Made Easy!</h1>
                <img height="80" width="80" class="mov mb" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div class="about">
                <h2>A free, team survival training game that runs in your phone's web browser. Find food and water, overcome natural
                    disasters, and learn valuable survival lessons&mdash;all while racing around Vancouver!</h2>
                <img height="80" width="80" class="mov dt" src="assets/img/movember-bg.png" alt="Funded by the Movember Foundation" />
            </div>
            <div><a onclick="ga('send', 'event', 'Click', 'Call to Action', 'How to Play');" id="call-to-action" class="button start-playing" href="#getting-started" title="How to Play">How to Play</a></div>
          </header>
      </div>
      <div class="center">
        <img id="phone" alt="Apocalypse Made Easy! Screenshot" src="assets/img/presskit/choose-your-scenario.png" />
      </div>
    </div>
  </section>
  {% include alert-families.html %}
  <section id="getting-started">
    <div class="step" id="first">
      <div class="step-body">
          <div>
            <h4>How to Play</h4>
            <h3><span>#1</span> Assemble your team!</h3>
            <p>The number one most rhyming rule for apocalypse survival is <em>don't go solo</em>. So register a team. Gather <strong>1 to 4</strong> other people. Then invite them to join you by sharing your unique team code.</p>
          </div>
      </div>
      <div class="step-image"></div>
    </div>
    <div class="step" id="second">
        <div class="step-body">
            <div>
                <h4>How to Play</h4>
                <h3><span>#2</span> Choose scenario!</h3>
                <p>Pick from four apocalyptic scenarios in Vancouver. Bring yourselves and your phones to its start point to get&hellip; started. (We recommend families begin with the EARTHQUAKE PREPAREDNESS scenario, which starts outside of Science World!)</p>
            </div>
        </div>
        <div class="step-image">
            <section id="map-container">
                <div id="map"></div>
                <span id="locations">Scenario locations</span>
            </section>
        </div>
    </div>
    <div class="step" id="third">
        <div class="step-body">
            <div>
                <h4>How to Play</h4>
                <h3><span>#3</span> Start playing!</h3>
                <p>Once you arrive, go to this website (<a href="https://play.apocalypsemadeeasy.com">play.apocalypsemadeeasy.com</a>) to start the scenario. A somewhat-helpful AI named BORIS will send instructions directly to your phones.</p>
            </div>
        </div>
        <div class="step-image"></div>
    </div>
    <div class="step" id="fourth">
        <div class="step-body">
            <div>
                <h4>How to Play</h4>
                <h3><span>#4</span> Win!</h3>
                <p>Or lose. Both are equally likely. Just know that the stakes are high: top teams will win highly-fashionable <a href="/win-survival-prize-packs">survival prize packs</a>.</p>
            </div>
        </div>
        <div class="step-image"></div>
    </div>
  </section>
  <section class="alert" id="reminders">
        <div class="ad-nauseum" id="remembers"></div>
        <div class="wrapper">
            <header>
                <h3>Remember!</h3>
                <p>- Each team member needs a phone (of course&mdash;there’s nothing to say that phones can’t be shared!)</p>
                <p>- Make sure your batteries are charged.</p>
                <p>- The game will use around 5 MB of mobile data.</p>
            </header>
            <div>
                <h3><a href="https://play.apocalypsemadeeasy.com" title="Sign up and Start Playing">Sign Up &amp;<br>Start Playing</a></h3>
            </div>
        </div>
  </section>
  <section id="faqs">
        <div class="wrap">
        <h2 id="questions">FAQS</h2>
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">How does it work?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Create or join a team of 2 to 5 people. Then choose from four different scenarios, each focusing on a separate aspect of doomsday preparedness. Take your phones and travel to the scenario's starting point. An AI named <code>BORIS</code> will send your first instructions straight to your phone’s web browser.</p><p>Work together to interpret <code>BORIS'</code> confounding statements, complete challenges, and survive the scenario. And do all of that accurately and promptly, as you’re being judged and timed.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Where can I do it?</a>
                <div class="accordion-content" data-tab-content>
                    <p>It's available in Vancouver in the locations marked on <a style="color: #f66f5c; text-decoration: underline;" href="#locations">the map</a> above me here. There are scenarios at Stanley Park, the False Creek Seawall, UBC, and Pacific Spirit Park.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What's it cost?</a>
                <div class="accordion-content" data-tab-content>
                    <p>It's <span class="hooray">free!</span> But the true cost is if you <em>don’t</em> participate and are ill-prepared for the end. That cost is astronomical.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Do I need to download an app?</a>
                <div class="accordion-content" data-tab-content>
                    <p>No app download is needed! It runs in your phone's internet browser, such as Safari or Chrome. But it will use around 5 MB of mobile data, which is similar to streaming one song.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Who are the Citizens for a Friendlier Post-Apocalypse?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Following a confusing election cycle, we rose to power on our single-issue platform of optional (mandatory) apocalypse survival training for all citizens. We have it on good authority that the world will end soon. And thanks to us, everybody will be prepared.</p>
                    <p>But it's not enough to prepare for the end of the world. Can we make the end of the world a better place than the non-end of the world? Can we make it a friendlier place? Our answer is yes.</p>
                    <p>After much refinement and many, many deadly errors, we have created the most perfectly friendly apocalypse survival training course around. We've made it accessible. We've made Apocalypse Made Easy!</p>   
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What are the many perils of trying to survive the apocalypse alone?</a>
                <div class="accordion-content" data-tab-content>
                    <p><code>The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are too many to list. The perils are&hellip;</code>
                    </p>
                </div>
            </li>
        </ul>
        </div>
  </section>
</article>