---
layout: ended
---

<article>
  <div style="max-width: 600px; margin: 0px auto; background-color: #ececec; border-radius: 3px; padding: 1rem;">
    <img src="assets/img/apocalypse-made-easy-logo.png" />
    <p>Apocalypse Made Easy! (the free, outdoor, team-based, adjective-laden survival training game that runs in your phone's web browser) has officially ended. Thanks for playing!</p>
    <p>If you're interesting in creating your own content, apocalypse-themed or otherwise, the software that runs Apocalypse Made Easy! will soon be open source and documented here: <a style="color: #000;" href="https://globalrepcentre.github.io/back-and-forth/">https://globalrepcentre.github.io/back-and-forth</a>.</p>
  </div>
</article>