---
layout: default
---

<article>
    <section id="selections">
        <div class="section-body">
            <img src="assets/img/apocalypse-made-easy-logo.png" alt="Apocalypse Made Easy! Logo" />
            <div class="buttons">
                <div>
                    <a href="https://apocalypsemadeeasy.com/about" id="info">
                        More Info
                    </a>
                </div>
                <div>
                    <a rel="noopener noreferrer" target="_blank" href="https://beta.apocalypsemadeeasy.com" id="start">
                        Start Playing
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="description">
        <header>
            <h1>Apocalypse Made Easy!</h1><p>is an outdoor, team-based apocalypse survival training course that runs in your phone's browser. The public beta is <span class="hooray">NOW OPEN</span> in Vancouver. And it's coming soon to Kelowna.</p>
        </header>
    </section>
</article>